h1 {
    margin: 20px;
}

.main_screen {
    margin: 10px;
    height: 85%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.item {
    width: 32%;
    height: 100%;
    text-align: center;
    margin: auto;
    border: 1px solid;
    display: block;
}

.header {
    font-size: 20px;
}

.projectButton {
    width:200px;
}

.projectDescription {
    font-style: italic;
    font-weight: 300;
}


.money {
    float: left;
}

#moneyDisplay {
    margin-left: 5px;
    float: left;
}

.stats {
    margin: 20px;
    display: block; /* Keep this as block to stack vertically */
    clear: both; /* Ensures no floating elements interfere */
}

#projects {
    display: block; /* Ensures it takes up its own line */
    margin-left: 30px; /* Keeps the left margin for styling */
    clear: both; /* Forces this element to appear on a new line */
    float: left;
}
